---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-01-01&format=json&key=an-api-key&q=35.689488%2C139.691706&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-ApiaxleProxy-Qps-Left:
      - '4'
      X-ApiaxleProxy-Qpd-Left:
      - '499'
    body:
      encoding: UTF-8
      string: '{ "data": { "request": [ {"query": "Lat 35.69 and Lon 139.69", "type":
        "LatLon" } ],  "weather": [ { "astronomy": [ {"moonrise": "11:16 PM", "moonset":
        "10:55 AM", "sunrise": "06:51 AM", "sunset": "04:38 PM" } ], "date": "2016-01-01",  "hourly":
        [ {"cloudcover": "0", "DewPointC": "-3", "DewPointF": "27", "FeelsLikeC":
        "8", "FeelsLikeF": "46", "HeatIndexC": "10", "HeatIndexF": "51", "humidity":
        "40", "precipMM": "0.0", "pressure": "1026", "tempC": "15", "tempF": "60",
        "time": "24", "visibility": "10", "weatherCode": "113",  "weatherDesc": [
        {"value": "Sunny" } ],  "weatherIconUrl": [ {"value": "http:\/\/cdn.worldweatheronline.net\/images\/wsymbols01_png_64\/wsymbol_0001_sunny.png"
        } ], "WindChillC": "8", "WindChillF": "46", "winddir16Point": "NNW", "winddirDegree":
        "339", "WindGustKmph": "25", "WindGustMiles": "15", "windspeedKmph": "27",
        "windspeedMiles": "17" } ], "maxtempC": "15", "maxtempF": "60", "mintempC":
        "4", "mintempF": "39", "uvIndex": "0" } ] }}'
      effective_url: https://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-01-01&format=json&key=an-api-key&q=35.689488%2C139.691706&tp=24
  recorded_at: Wed, 06 Jan 2016 05:01:36 GMT
recorded_with: VCR 3.0.1
