---
http_interactions:
- request:
    method: get
    uri: https://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2016-01-10&format=json&key=an-api-key&q=35.689488%2C139.691706&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-ApiaxleProxy-Qps-Left:
      - '3'
      X-ApiaxleProxy-Qpd-Left:
      - '498'
    body:
      encoding: UTF-8
      string: '{ "data": { "ClimateAverages": [ { "month": [ {"absMaxTemp": "19.2",
        "absMaxTemp_F": "66.6", "avgMinTemp": "-1", "avgMinTemp_F": "30.2", "index":
        "1", "name": "January" }, {"absMaxTemp": "24.5", "absMaxTemp_F": "76.1", "avgMinTemp":
        "-0.4", "avgMinTemp_F": "31.3", "index": "2", "name": "February" }, {"absMaxTemp":
        "26.9", "absMaxTemp_F": "80.4", "avgMinTemp": "2.7", "avgMinTemp_F": "36.9",
        "index": "3", "name": "March" }, {"absMaxTemp": "32.7", "absMaxTemp_F": "90.9",
        "avgMinTemp": "8.2", "avgMinTemp_F": "46.8", "index": "4", "name": "April"
        }, {"absMaxTemp": "35.2", "absMaxTemp_F": "95.4", "avgMinTemp": "13.2"[...]
